body {
    background:url("../images/bg.jpeg") no-repeat;
}

div.header {
   height: 80px;
}


.content {

    margin-left:0px auto;
    vertical-align:middle;
   
}

table {
    margin: 250px;
}

.auto-style2 {
    height: 50px;
}



